body{
    margin: 0px;
    background-color:rgb(235,228,220) !important;
}


.banderin img{
    width: 100%;
    height: 100px !important;
}

header h1{
    text-align: center;
    text-decoration: overline;
    font-size: 30px;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.342);
    font-style:oblique;
}
.entrada img {
    width: 100%;
    margin-bottom: 40px;
}
.iglesia img{
    width: 100%;
}
.iglesia button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.137);
    font-size: 30px;
    padding: 4px;
    border: none;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.temporizador{
    background-image: url(../img/fondotemp.jfif);
    background-position: center;
    background-attachment: fixed;
    margin-top: 2px;
    margin-bottom: 20px;
    height: 325px;
}
.fecha p{
    color: black;
    font-size: 20px;
    font-family:fantasy ;
    text-align: center;
    padding-top: 15px;
}
.proxfecha{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 16vh;
}
.grupo{
    line-height: 0.8;
    text-align: center;
    border: 2px solid rgba(240, 126, 81, 0.199);
    border-radius: 100%;
    width: 90px;
    height: 85px;
    padding-top: 20px;
    background-color: rgba(241, 223, 206, 0.123);
    margin: 5px 5px 5px 35%;
}
.grande{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.chico{
    font-size: 15px;
}

.ubi {    
    text-decoration: none;
    color: rgba(59, 22, 8, 0.699);
    font-size: 25px;
}
.regalos img {
    width: 100%;
    margin-top: 20px;
}
.precio-entrada img{
    width: 100%;
    margin-top: 20px;
}
.wspf {
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.137);
    margin-top: 10px;
    border: none;
    padding: 5px;
    text-decoration: none;
    color: rgba(255, 127, 80, 0.808);
}
.wspv {
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.137);
    margin-top: 10px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(255, 127, 80, 0.808);
}
.wspf a{
    text-decoration: none;
    color: rgba(59, 22, 8, 0.699);
}
.wspv a{
    text-decoration: none;
    color: rgba(59, 22, 8, 0.699);
}
.vestimenta img{
    height: 50% ;
    width: 100%;
}

.carrusel{
    width: 65%;
    height: 70% !important;
    margin: 5% 17% 0 17%;
}
.carousel-item{
    width: 65%;
    height: 300px !important;
}
.carrusel img {
    width: 65%;
    height: 300px;
    border-radius: 15px;
}
.carrusel h2{
    margin-left: 8%;
    font-size: 15px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 1px solid coral;
    border-right: 1px solid coral;
}

