body{
    margin: 0px;
    background-color:rgb(235,228,220) !important;
}

.banderin{
    width: 100%;
    height: 1%;
}

header h1{
    text-align: center;
    text-decoration: overline;
    font-size: 30px;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.342);
    font-style:oblique;
}
.entrada img {
    width: 100%;
    margin-bottom: 40px;
}
.iglesia img{
    width: 100%;
}
.iglesia button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.137);
    font-size: 30px;
    padding: 4px;
    border: none;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.ubi {    
    text-decoration: none;
    color: rgba(255, 127, 80, 0.808);
    font-size: 25px;
}
.regalos img {
    width: 100%;
    margin-top: 20px;
}
.precio-entrada img{
    width: 100%;
    margin-top: 20px;
}
.wspf {
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.137);
    margin-top: 10px;
    border: none;
    padding: 5px;
    text-decoration: none;
    color: rgba(255, 127, 80, 0.808);
}
.wspv {
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.137);
    margin-top: 10px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(255, 127, 80, 0.808);
}
.wspf a{
    text-decoration: none;
    color: rgba(255, 127, 80, 0.808);
}
.wspv a{
    text-decoration: none;
    color: rgba(255, 127, 80, 0.808);
}


.carrusel{
    width: 65%;
    height: 500px !important;
    margin: 5% 17% 0 17%;
}
.carousel-item{
    width: 65%;
    height: 400px !important;
}
.carrusel img {
    width: 65%;
    height: 400px;
    border-radius: 15px;
}
.carrusel h2{
    margin-left: 8%;
    font-size: 15px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 1px solid coral;
    border-right: 1px solid coral;
}